astropy==2.0.2
Basemap==1.0.7
ephem==3.7.5.3
futures==3.1.1
html5lib==0.999999999
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==7.0.0
matplotlib==2.1.0
nbconvert==5.3.1
nbformat==4.4.0
numpy==1.13.3
numpydoc==0.7.0
path.py==10.3.1
pathlib2==2.3.0
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==0.19.1
Sphinx==1.6.3
subprocess32==3.2.7
widgetsnbextension==3.0.2
